<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }} | Xmind2TestCase 预览</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/custom.css') }}">
</head>

<body>
    <div class="header">
        <h1>{{ name }} - 预览</h1>
        <h2>用例集数: {{ suite_count }} / 用例数: {{ suite | length }}
            / <a href="{{ url_for('download_excel_file',filename=name) }}">获取Excel用例</a>
            / <a href="{{ url_for('index') }}">返回</a>
        </h2>
    </div>
    <table class="pure-table tests-table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="10%">一级模块</th>
                <th>二级模块</th>
                <th>三级模块</th>
                <th>用例标题</th>
                <th>优先级</th>
                <th>前置条件</th>
                <th width="23%">测试步骤</th>
                <th>编写人</th>
            </tr>
        </thead>
        <tbody>
            {% for test in suite %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ test.suite }}</td>
                <td>{{ test.second_suite }}</td>
                <td>{{ test.third_suite }}</td>
                <td {% if test.name|length>100 %}class="long-name" {% endif %}>{{ test.name }}
                    {% if test.name|length>100 %}
                    <span class="long-name-info">警告: 测试用例名称可能太长: {{ test.name|length }}!</span>
                    {% endif %}
                </td>
                <td>{{ test.importance }}</td>
                <td>{{ test.preconditions | replace('\n','<br>') |safe }}</td>
                <td>
                    {% if test.steps %}
                    <ol>
                        {% for step in test.steps %}
                        <li>{{ step.actions }}
                            {% if step.expectedresults %}
                            <ul>
                                <li>{{ step.expectedresults }}</li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </td>
                <td>{{ test.writer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="footer">
        <a href="{{ url_for('static', filename='guide/index.html') }}" target="_blank">用户指南</a> |
        Powered by XMind2TestCase</a>
    </div>
</body>

</html>